
a:link, a:visited {
  color: #a275e6;
}

a:hover {
  color: #e68c75;
  text-decoration: none;
}

p, address, ul {
  font-size: 2.5vmin;
}

.gallery {
  height: 100px;
  padding: 10px;
  text-align: center;
}

.social {
  text-align: center;
}

.social .fa {
  font-size: 30px;
  margin: 30px 5%;
}
